<!DOCTYPE html>
<html>
  <head>
    <title>Rosalee and Pubudu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='links'>
        <div class='link'>
          <%= link_to('Home', controller: 'pages', action: 'home') %>
        </div>
        <div class='link'>
          <%= link_to('Info', controller: 'pages', action: 'info') %>
        </div>
        <div class='link'>
          <%= link_to('RSVP', controller: 'pages', action: 'rsvp') %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
